body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#character {
    display: flex;
    border: 2px solid #333;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}
#characterImages{
    display: flex;
 flex-direction: column;
}
img{
    width: 200px;
}